---
http_interactions:
- request:
    method: get
    uri: https://api.pinterest.com/v1/boards/154178055932402553/pins/?access_token=<HIDDEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Pinterest-Generated-By:
      - None
      Pinterest-Version:
      - ff67fd1
      X-Pinterest-Rid:
      - '557879056882'
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '940'
    body:
      encoding: UTF-8
      string: '{"data": [{"url": "http://pinterest.com/pin/154177987221094837/", "note":
        "Test from Ruby gem", "link": "https://www.pinterest.com/r/pin/154177987221094837/4779055074072594921/7398081f568ad73eed50ea8896027e12205f22e3fb166997509a3d3a019d4b04",
        "id": "154177987221094837"}], "page": {"cursor": null, "next": null}}'
  recorded_at: Fri, 02 Oct 2015 04:01:39 GMT
recorded_with: VCR 2.9.3
