---
http_interactions:
- request:
    method: get
    uri: https://api.pinterest.com/v1/boards/154178055932402867/?access_token=<HIDDEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Pinterest-Generated-By:
      - None
      Pinterest-Version:
      - ff67fd1
      X-Pinterest-Rid:
      - '965703880229'
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '945'
    body:
      encoding: UTF-8
      string: '{"data": {"url": "https://www.pinterest.com/_adeel/test-298680641/",
        "id": "154178055932402867", "name": "Test 298680641"}}'
  recorded_at: Fri, 02 Oct 2015 04:01:15 GMT
recorded_with: VCR 2.9.3
