---
http_interactions:
- request:
    method: post
    uri: https://api.pinterest.com/v1/boards/
    body:
      encoding: UTF-8
      string: description=Test+from+Ruby+gem&name=Test+942608276
    headers:
      Authorization:
      - BEARER <HIDDEN>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - application/json
      Pinterest-Generated-By:
      - None
      Pinterest-Version:
      - ff67fd1
      X-Pinterest-Rid:
      - '714377078615'
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '999'
    body:
      encoding: UTF-8
      string: '{"data": {"url": "https://www.pinterest.com/jrrhoades/test-942608276/",
        "id": "180636703743184691", "name": "Test 942608276"}}'
  recorded_at: Fri, 02 Oct 2015 22:49:21 GMT
recorded_with: VCR 2.9.3
