---
http_interactions:
- request:
    method: post
    uri: https://api.pinterest.com/v1/boards/
    body:
      encoding: UTF-8
      string: description=Test+from+Ruby+gem&name=Test+298680641
    headers:
      Authorization:
      - BEARER <HIDDEN>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - application/json
      Pinterest-Generated-By:
      - None
      Pinterest-Version:
      - ff67fd1
      X-Pinterest-Rid:
      - '676778744475'
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '947'
    body:
      encoding: UTF-8
      string: '{"data": {"url": "https://www.pinterest.com/_adeel/test-298680641/",
        "id": "154178055932402867", "name": "Test 298680641"}}'
  recorded_at: Fri, 02 Oct 2015 04:00:51 GMT
recorded_with: VCR 2.9.3
