---
http_interactions:
- request:
    method: get
    uri: https://api.pinterest.com/v1/me/following/users/?access_token=<HIDDEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Pinterest-Generated-By:
      - None
      Pinterest-Version:
      - ff67fd1
      X-Pinterest-Rid:
      - '552612725114'
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '962'
    body:
      encoding: ASCII-8BIT
      string: '{"data": [{"url": "https://www.pinterest.com/notarealuser/", "first_name":
        "form", "last_name": "information", "id": "451063856337266571"}, {"url": "https://www.pinterest.com/mistermgr/",
        "first_name": "matt", "last_name": "robles", "id": "279082645567049623"},
        {"url": "https://www.pinterest.com/ooitsadam/", "first_name": "Adam", "last_name":
        "Clemente", "id": "244390854687460043"}, {"url": "https://www.pinterest.com/ghipydesign/",
        "first_name": "GhiPy", "last_name": "BoLa\u00f1O", "id": "127508370608357643"},
        {"url": "https://www.pinterest.com/jeorgeabeck/", "first_nam[...]
