---
http_interactions:
- request:
    method: post
    uri: https://api.pinterest.com/v1/pins/
    body:
      encoding: UTF-8
      string: board=154178055932271277&image_url=http%3A%2F%2Fmarketingland.com%2Fwp-content%2Fml-loads%2F2014%2F07%2Fpinterest-logo-white-1920.png&link=https%3A%2F%2Fwww.shopseen.com&note=Test+from+Ruby+gem
    headers:
      Authorization:
      - BEARER <HIDDEN>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - application/json
      Pinterest-Generated-By:
      - None
      Pinterest-Version:
      - ff67fd1
      X-Pinterest-Rid:
      - '550469121768'
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '939'
    body:
      encoding: UTF-8
      string: '{"data": {"url": "http://pinterest.com/pin/154177987221106992/", "note":
        "Test from Ruby gem", "link": "https://www.pinterest.com/r/pin/154177987221106992/4779055074072594921/8beaece68be423a1f5bf4b6016b6c9a68dfa706ce9dc790fd24053ec9372426b",
        "id": "154177987221106992"}}'
  recorded_at: Fri, 02 Oct 2015 04:02:22 GMT
recorded_with: VCR 2.9.3
