---
http_interactions:
- request:
    method: get
    uri: https://api.pinterest.com/v1/me/following/boards/?access_token=<HIDDEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Pinterest-Generated-By:
      - None
      Pinterest-Version:
      - ff67fd1
      X-Pinterest-Rid:
      - '659481958351'
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '963'
    body:
      encoding: UTF-8
      string: '{"data": [{"url": "https://www.pinterest.com/klinear/monterey-ca/",
        "id": "396387273391974974", "name": "Monterey, CA"}, {"url": "https://www.pinterest.com/elmorel08/mft/",
        "id": "9922130368110354", "name": "MFT"}, {"url": "https://www.pinterest.com/MrsCHanson/life-with-misophonia/",
        "id": "114349346727734173", "name": "Life with Misophonia"}, {"url": "https://www.pinterest.com/sharp/bad-ux/",
        "id": "633456136555899", "name": "Bad UX"}, {"url": "https://www.pinterest.com/sharp/great-ux/",
        "id": "633456136552456", "name": "Great UX"}, {"url": "https://www.pinterest.com/sonyelectronics/retro-sony-products/",
        "id": "117586308959840703", "name": "Retro Sony Products"}, {"url": "https://www.pinterest.com/fluffyco/fluffyco-stuff/",
        "id": "259308959733698480", "name": "FluffyCo Stuff"}], "page": {"cursor":
        null, "next": null}}'
  recorded_at: Fri, 02 Oct 2015 03:47:28 GMT
recorded_with: VCR 2.9.3
