---
http_interactions:
- request:
    method: get
    uri: https://api.pinterest.com/v1/me/following/interests/?access_token=<HIDDEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Pinterest-Generated-By:
      - None
      Pinterest-Version:
      - ff67fd1
      X-Pinterest-Rid:
      - '751760495084'
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '961'
    body:
      encoding: UTF-8
      string: '{"data": [{"id": "901179409185", "name": "Modern Architecture"}], "page":
        {"cursor": null, "next": null}}'
  recorded_at: Fri, 02 Oct 2015 03:47:35 GMT
recorded_with: VCR 2.9.3
