---
http_interactions:
- request:
    method: post
    uri: https://api.pinterest.com/v1/me/following/boards/
    body:
      encoding: UTF-8
      string: board=aw9urhgwlahugoahglwahg
    headers:
      Authorization:
      - BEARER <HIDDEN>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 404
      message: NOT FOUND
    headers:
      Content-Type:
      - application/json
      Pinterest-Generated-By:
      - None
      Pinterest-Version:
      - ff67fd1
      X-Pinterest-Rid:
      - '520081051913'
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '955'
    body:
      encoding: UTF-8
      string: '{"message": "Board not found.", "type": "api", "param": "board"}'
  recorded_at: Fri, 02 Oct 2015 03:48:01 GMT
recorded_with: VCR 2.9.3
