---
http_interactions:
- request:
    method: get
    uri: https://api.pinterest.com/v1/me/followers/?access_token=<HIDDEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Pinterest-Generated-By:
      - None
      Pinterest-Version:
      - ff67fd1
      X-Pinterest-Rid:
      - '627068766681'
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '982'
    body:
      encoding: ASCII-8BIT
      string: '{"data": [{"url": "https://www.pinterest.com/deasse/", "first_name":
        "Nicole", "last_name": "Janssens", "id": "346777377466013196"}, {"url": "https://www.pinterest.com/estherlabrado/",
        "first_name": "Esther", "last_name": "Labrado", "id": "302726543610784643"},
        {"url": "https://www.pinterest.com/sarrahthompson/", "first_name": "Sarrah",
        "last_name": "Thompson", "id": "540150686466218183"}, {"url": "https://www.pinterest.com/colleenclassen7/",
        "first_name": "Colleen", "last_name": "Classen", "id": "397724348250611990"},
        {"url": "https://www.pinterest.com/johnezac/[...]
