---
http_interactions:
- request:
    method: get
    uri: https://api.pinterest.com/v1/me/following/boards/?access_token=<HIDDEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Pinterest-Generated-By:
      - None
      Pinterest-Version:
      - ff67fd1
      X-Pinterest-Rid:
      - '570809843684'
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '981'
    body:
      encoding: UTF-8
      string: '{"data": [{"url": "https://www.pinterest.com/janew/delicious/", "id":
        "2814887206060038", "name": "Delicious"}], "page": {"cursor": null, "next":
        null}}'
  recorded_at: Fri, 02 Oct 2015 22:49:30 GMT
recorded_with: VCR 2.9.3
