---
http_interactions:
- request:
    method: get
    uri: https://api.pinterest.com/v1/me/?access_token=<HIDDEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Pinterest-Generated-By:
      - None
      Pinterest-Version:
      - ff67fd1
      X-Pinterest-Rid:
      - '203860215404'
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '969'
    body:
      encoding: UTF-8
      string: '{"data": {"url": "https://www.pinterest.com/_adeel/", "first_name":
        "Adeel", "last_name": "Ahmad", "id": "154178124651692788"}}'
  recorded_at: Fri, 02 Oct 2015 03:46:52 GMT
recorded_with: VCR 2.9.3
