---
http_interactions:
- request:
    method: get
    uri: https://api.pinterest.com/v1/me/followers/?access_token=<HIDDEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Pinterest-Generated-By:
      - None
      Pinterest-Version:
      - ff67fd1
      X-Pinterest-Rid:
      - '787042891164'
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '964'
    body:
      encoding: ASCII-8BIT
      string: '{"data": [{"url": "https://www.pinterest.com/rowonebrand/", "first_name":
        "Row One Brand", "last_name": "", "id": "480407622659389821"}, {"url": "https://www.pinterest.com/scherrerjustin/",
        "first_name": "justin", "last_name": "scherrer", "id": "334462847234926584"},
        {"url": "https://www.pinterest.com/saminadaredia/", "first_name": "Samina",
        "last_name": "Daredia", "id": "327988922770577366"}, {"url": "https://www.pinterest.com/erikabrandwein/",
        "first_name": "Erika", "last_name": "Brandwein", "id": "427982908247034816"},
        {"url": "https://www.pinterest.com/annawronsk[...]
