---
http_interactions:
- request:
    method: get
    uri: https://api.pinterest.com/v1/me/following/users/?access_token=<HIDDEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Pinterest-Generated-By:
      - None
      Pinterest-Version:
      - ff67fd1
      X-Pinterest-Rid:
      - '428444666715'
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '980'
    body:
      encoding: ASCII-8BIT
      string: '{"data": [{"url": "https://www.pinterest.com/janew/", "first_name":
        "Jane", "last_name": "Wang", "id": "2814955925536769"}, {"url": "https://www.pinterest.com/katemiss/",
        "first_name": "Kate Miss ", "last_name": "", "id": "40251127828054017"}, {"url":
        "https://www.pinterest.com/soundslikesean/", "first_name": "Sean", "last_name":
        "Myers", "id": "276127158311588313"}, {"url": "https://www.pinterest.com/brandonpiety/",
        "first_name": "Brandon", "last_name": "Piety", "id": "242631636083018992"},
        {"url": "https://www.pinterest.com/williamcoburn/", "first_name":[...]
