---
http_interactions:
- request:
    method: get
    uri: https://api.pinterest.com/v1/me/?access_token=<HIDDEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Pinterest-Generated-By:
      - None
      Pinterest-Version:
      - ff67fd1
      X-Pinterest-Rid:
      - '852143671099'
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '987'
    body:
      encoding: UTF-8
      string: '{"data": {"url": "https://www.pinterest.com/jrrhoades/", "first_name":
        "Justin", "last_name": "Rhoades", "id": "180636772462496217"}}'
  recorded_at: Fri, 02 Oct 2015 22:49:28 GMT
recorded_with: VCR 2.9.3
