---
http_interactions:
- request:
    method: get
    uri: https://api.pinterest.com/v1/me/search/pins/?access_token=<HIDDEN>&query=misophonia
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Pinterest-Generated-By:
      - None
      Pinterest-Version:
      - ff67fd1
      X-Pinterest-Rid:
      - '105694320870'
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '984'
    body:
      encoding: UTF-8
      string: '{"data": [], "page": {"cursor": null, "next": null}}'
  recorded_at: Fri, 02 Oct 2015 22:49:29 GMT
recorded_with: VCR 2.9.3
