---
http_interactions:
- request:
    method: get
    uri: https://api.pinterest.com/v1/me/search/pins/?access_token=<HIDDEN>&query=shopseen
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Pinterest-Version:
      - c0f3f7d
      X-Pinterest-Rid:
      - '178874558164'
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '892'
      Pinterest-Generated-By:
      - devplatform-devapi-prod-0a01ee84
    body:
      encoding: UTF-8
      string: '{"data": [], "page": {"cursor": null, "next": null}}'
  recorded_at: Tue, 23 May 2017 03:00:50 GMT
recorded_with: VCR 2.9.3
