---
http_interactions:
- request:
    method: post
    uri: https://api.pinterest.com/v1/boards/
    body:
      encoding: UTF-8
      string: description=Test+from+Ruby+gem
    headers:
      Authorization:
      - BEARER <HIDDEN>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: BAD REQUEST
    headers:
      Content-Type:
      - application/json
      Pinterest-Generated-By:
      - None
      Pinterest-Version:
      - ff67fd1
      X-Pinterest-Rid:
      - '824362841785'
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '998'
    body:
      encoding: UTF-8
      string: '{"message": "Parameter ''name'' is required.", "type": "api", "param":
        "name"}'
  recorded_at: Fri, 02 Oct 2015 22:49:22 GMT
recorded_with: VCR 2.9.3
