---
http_interactions:
- request:
    method: get
    uri: https://api.pinterest.com/v1/pins/154177987221106992/?access_token=<HIDDEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Pinterest-Generated-By:
      - None
      Pinterest-Version:
      - ff67fd1
      X-Pinterest-Rid:
      - '188089958790'
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '992'
    body:
      encoding: UTF-8
      string: '{"data": {"url": "http://pinterest.com/pin/154177987221106992/", "note":
        "Test from Ruby gem", "link": "https://www.pinterest.com/r/pin/154177987221106992/4779055074072594921/8beaece68be423a1f5bf4b6016b6c9a68dfa706ce9dc790fd24053ec9372426b",
        "id": "154177987221106992"}}'
  recorded_at: Fri, 02 Oct 2015 22:49:26 GMT
recorded_with: VCR 2.9.3
