---
http_interactions:
- request:
    method: get
    uri: https://api.pinterest.com/v1/users/shopseen/?access_token=<HIDDEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Pinterest-Generated-By:
      - None
      Pinterest-Version:
      - ff67fd1
      X-Pinterest-Rid:
      - '655071060998'
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '967'
    body:
      encoding: UTF-8
      string: '{"data": {"url": "https://www.pinterest.com/shopseen/", "first_name":
        "Shopseen", "last_name": "", "id": "339670134304018573"}}'
  recorded_at: Fri, 02 Oct 2015 03:47:16 GMT
recorded_with: VCR 2.9.3
