---
http_interactions:
- request:
    method: patch
    uri: https://api.pinterest.com/v1/pins/333547916137432730/
    body:
      encoding: UTF-8
      string: note=Test+from+Ruby+gem+at+2017-05-23+00%3A20%3A00+-0400&pin=333547916137432730
    headers:
      Authorization:
      - BEARER <HIDDEN>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Pinterest-Version:
      - c0f3f7d
      X-Pinterest-Rid:
      - '816611333499'
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '987'
      Pinterest-Generated-By:
      - devplatform-devapi-prod-0a012f8f
    body:
      encoding: UTF-8
      string: '{"data": {"url": "https://www.pinterest.com/pin/333547916137432730/",
        "note": "Test from Ruby gem at 2017-05-23 00:20:00 -0400", "link": "https://www.pinterest.com/r/pin/333547916137432730/4779055074072594921/97052ead3fee1fdc3b8402ad515e68456cba554610086cb57f700b137867762b",
        "id": "333547916137432730"}}'
  recorded_at: Tue, 23 May 2017 04:20:00 GMT
recorded_with: VCR 2.9.3
